body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
}

.venn-diagram {
  position: relative;
  width: 240px;
  height: 200px;
}

.circle {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  cursor: pointer;
  mix-blend-mode: multiply;
}

#circleA {
  background-color: red;
  left: 10px;
  top: 50px;
}

#circleB {
  background-color: blue;
  left: 65px;
  top: 50px;
}

#circleC {
  background-color: green;
  left: 35px;
  top: 5px;
}

.circle:hover {
  transform: scale(1.2);
  z-index: 10;
}
